#product-catalog {
  font-size: 1.1rem;
  color: black;
}
#product-catalog .name {
  font-weight: 500;
}

#product-catalog .description {
  font-size: 0.8rem;
}

#product-catalog i { 
  margin-left: 1.3rem;
  font-size: 1.1em;
}

.cp {
  cursor: pointer;
}

.in-stock {
  color: #80cf4b;
}

.out-of-stock {
  color: #fd2222
}