#play-list {
  font-size: 1.1rem;
  color: black;
}
#play-list .name {
  font-weight: 500;
}

#play-list .description {
  font-size: 0.8rem;
}

#play-list i { 
  margin-left: 1.3rem;
  font-size: 1.1em;
}

.cp {
  cursor: pointer;
}

.in-list {
  color: #80cf4b;
}

.out-of-list {
  color: #fd2222
}